<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/static/css/pure-extras.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <a href="{{ url_for('.tuchuang_index') }}" class="pure-menu-link pure-menu-heading">七牛图床</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="{{ url_for('.tuchuang_list') }}" class="pure-menu-link">我的相册</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('.info') }}" class="pure-menu-link">设置</a></li>
    </ul>
</div>
<h1>设置</h1>
{% include '_message.html' %}
<form class="pure-form pure-form-stacked" method="post">
    <fieldset>
        <legend>设置</legend>

        <label for="ak">七牛AK</label>
        <input id="ak" name="ak" type="text" placeholder="七牛AK" class="pure-input-1" value="{{ session.user.access_key }}">

         <label for="sk">七牛SK</label>
        <input id="sk" name="sk" type="text" placeholder="七牛SK" class="pure-input-1" value="{{ session.user.secret_key }}">

        <label for="bn">七牛bucket name</label>
        <input id="bn" name="bn" type="text" placeholder="七牛bucket name" class="pure-input-1" value="{{ session.user.bucket_name }}">

        <label for="dn">域名</label>
        <input id="dn" name="dn" type="text" placeholder="七牛域名" class="pure-input-1" value="{{ session.user.domain_name }}">

        <button type="submit" class="pure-button pure-button-primary">保存</button>
    </fieldset>
</form>
</body>
</html>