<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<form class="pure-form pure-form-stacked" method="post">
    <fieldset>
        <legend>设置</legend>

        <label for="ak">七牛AK</label>
        <input id="ak" name="ak" type="password" placeholder="七牛AK" value="{{ session.user.access_key }}">

         <label for="sk">七牛SK</label>
        <input id="sk" name="sk" type="password" placeholder="七牛SK" value="{{ session.user.secret_key }}">

        <label for="bn">七牛bucket name</label>
        <input id="bn" name="bn" type="text" placeholder="七牛bucket name" value="{{ session.user.bucket_name }}">

        <button type="submit" class="pure-button pure-button-primary">保存</button>
    </fieldset>
</form>
</body>
</html>