<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/static/css/pure-extras.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
{% include '_message.html' %}
<div style="text-align: center">
    <h1>请使用GitHub登录</h1>
    <p>
        七牛图床是一个基于七牛的个人图床，该个人图床通过GitHub进行登录，用户需要填写七牛空间中的AK、SK、bucket name、domain信息，
        用于向该图床上传图片，同时展示该图床中上传图片的图片墙，这个项目的初衷是为了方便自己，如果有问题随时联系我。
    </p>
    <a href="https://github.com/login/oauth/authorize?scope=user&client_id={{ config.client_id }}">
        <i class="fa fa-github fa-5x"></i>
    </a>
</div>

</body>
</html>