<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图床</title>
</head>
<body>
<img src="{{ session.user.avatar_url }}" style="width: 50px;">
<h1>图床</h1>
<form enctype="multipart/form-data" method="post">
    七牛AK<input type="password" name="ak" value="{{ session.user.access_key }}"><br>
    七牛SK<input type="password" name="sk" value="{{ session.user.secret_key }}"><br>
    七牛bucket name<input name="bn" value="{{ session.user.bucket_name }}"><br>
    <input type="file" name="file" accept="image/*"><br>
    <input type="submit">
</form>
<hr />
{% for image in images %}
    <img src="{{ image.url }}" style="height: 100px;">
{% endfor %}
</body>
</html>